<article class="post">
    <div class="postDiv">
        <div class="postInfo">
            <div class="postName">
                <a href="/post/{{id}}" class="postLink">{{title}}</a>
            </div>
            <div class="createdBy">
                <p id="commentCaption">
                    Posted by Taco lover <b>{{user.username}}</b> on <b>{{Date created_at}}</b>
                </p>
            </div>
        </div>
        <div class="content">
            <p>{{content}}</p>
        </div>
    </div>
</article>